<style>
{% if visualization_css %}
    {{ visualization_css }}
{% endif %}
</style>

<div id="{{ vis_uuid }}"></div>

<script type="text/javascript">
!function() {
    var main = function ({{ requirements|join(', ') }}) {
        {% include 'base.js' %}

        if (d3.select('#{{ figure_id }}').empty()) {
            d3.select('#{{ vis_uuid }}')
                .append('div')
                .attr('id', '{{ figure_id }}');
        }

        var vis_instance = mod_{{ visualization_name }}();

        var data = {{ data }};

        d3.selectAll('#{{ figure_id }}')
            .data([data])
            .call(vis_instance);
    };
    
    require(["{{ requirements|join('", "') }}"], main);
}(window);
</script>