.pcoordinates-container .brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.pcoordinates-container .axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.pcoordinates-container .axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
  font-size: 10px;
}

