.treemap-container {
    position: relative;
    display: block;
}

.treemap-container .node {
    border: solid {{ border }}px #333333;
    border: solid {{ border }}px rgba(50, 50, 50, 0.15);
    font-family: 'Roboto', Calibri, sans-serif;
    overflow: hidden;
    position: absolute;
    padding: 0px;
    color: #f7f7f7;
    font-weight: 400;
}

.treemap-container .small-node {
    font-weight: 300;
}

.treemap-container .node:hover {
    border: solid {{ border }}px white;
}

.treemap-container .node div.node-meta {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    font-size: 11px;
    line-height: 1em;
    width: 100%;
}